/* .single{
    padding: 2px 16px;
    background: #fff;
    display: block;
    margin: 20px 120px;
    border-left: 8px solid whitesmoke;
    color: black;
   
}

.single:hover{
    border-left: 20px solid yellow;
    cursor: pointer;
}

.bold{
    color: yellow;
    text-align: center;
} */